#animals {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#animals > h1 {
    font-size: 3em;
}
#animals > main {
    border: 2px solid;
    width: 70%;
}
#animals img {
    width: 15%;
}