:root {
  --bg-color: #613DC1;
  --text-color: #ECEBE4;
  --navbar-color: #2C0735;
  --pop-color: #F18805;
  
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root {
  display: grid;
  grid-template-columns: 15% 1fr;
  min-height: 100vh;
}
