aside {
    padding-top: 2%;
    background-color: var(--navbar-color);
    /* min-height: min(92vh, 100%); */
    min-height: 92vh;
    font-size: 1.25em;
}
aside > ul > li:first-child {
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: 700;
}
aside > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 2%;
}
aside > ul > li {
    padding: 1rem;
    width: 100%;
    text-align: center;
}
aside > ul > li > a {
    color: var(--text-color);
}   

@media (max-width: 50em) {
    aside {
        min-height: 5vh;
        margin-bottom: 2%;
        font-size: 1em;
    }
    aside > ul {
        flex-direction: row;
    }
    aside > ul > li:first-child {
        display: none;
    }
}