*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.slide {            
    position: absolute;     /* Makes image overlap each other on top*/
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 100%;    /* Covers entire page */
    height: 100%;
    object-fit: cover;
    object-position: center; /* So it always focuses on center of the image */
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.prev {
    left: 1rem;
}
.next {
    right: 1rem;
}