* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.random-user {
    background-color: antiquewhite;
    width: min(50%, 500px);    
    display: grid;
    grid-template-rows: 50% 25% 25%;
    min-height: 600px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    padding: 20px;
}
.profile {
    width: 100%;
    text-align: center;
}
.name{
    font-size: 2.5em;
}
.profile img {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: block;
    margin: 2% auto;
}
.personal-info, 
.additional-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}
.gender {
    text-transform: capitalize;
}