* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-navbar {
    background-color: #333333;
}
.main-navbar > ul {
    margin-left: 1%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-navbar > ul li {
    list-style: none;
    padding: 1rem;
    cursor: pointer;
}
.main-navbar > ul li > a {
    all:unset;
    color: #FFF;
    font-size: 1.25em;
}
.main-navbar > ul li:hover > a {
    color: limegreen;
}

.dropdown.active > li,
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    opacity: 0; /* To add animations we are using opacity since in display animation is not possible */
    left: 0;
    top: calc(100% + 0.25rem);  /* give some padding using calc */
    background-color: #FFF;
    padding: .75rem;
    border-radius: .25rem;
    pointer-events: none;  /* To make sure that we can click the parent link */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    transition: opacity 100ms ease-in-out, transform 200ms ease-in-out;
}

.dropdown.active > li + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}