@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ubuntu;
  src: url("../public/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: ubuntu-medium;
  src: url("../public/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: ubuntu-bold;
  src: url("../public/fonts/Ubuntu-Bold.ttf");
}

:root {
  /* Primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);

  /* Accent */
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

html,
body,
#root {
  @apply h-full;
}

/* * {
  outline: 1px solid royalblue;
} */
