* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(224, 255, 255, 0.64);
}
main { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.title {
    font-size: 2.5em;
    margin-bottom: 5%;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    border: 2px solid;
    width: min(500px, 50%);
    height: 35%;
    padding-top: 2%;
    background-color: rgba(173, 216, 230, 0.601);
    border-radius: 2em;
    box-shadow: 10px 8px gray;
}
label {
    font-size: 1.5em;
    font-weight: 600;
}
select {
    margin-bottom: 3%;
    font-size: 1.125em;
    padding: 5px;
}
#calculate {
    padding: 10px;
    font-size: 1em;
}
.result {
    font-size: 1.125em;
    margin-block: auto;
}